/* General styles */
body {
  font-family: Open-sans, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 30px;
}

header img {
  max-height: 100%;
  max-width: 100%;
}



h1 {
  font-size: 50px;
	font-family: Lato;
  text-align: center;
  margin-top: 0;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin-top: 0;
}

p {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Button styles */
select,
button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  background-color: #eee;
}

select:focus,
button:focus {
  outline: none;
}

.genre-btn {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: #6c757d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 200px;
}

.genre-btn.active {
  background-color: #0077cc;
  color: #fff;
}

.select-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
}

.select-btn:hover {
  background-color: #23923d;
}

@media screen and (min-width: 768px) {
  /* General styles */
  .container {
    padding: 30px;
	  margin-bottom: 40px;
  }
	 .header {
    height: 150px;
    margin-top: 20px;
  }

  /* Button styles */
  .genre-btn {
    margin: 10px;
    width: 120px;
    height: 40px;
  }
 
  #song-result {
	font-size: 28px;
	margin-top: 20px;
}


  .select-btn {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
